<div class="d-flex common-padding header-div">
    <nav class="navbar navbar-expand-lg d-inline-flex" style="width: 100%;">
        <div class="d-inline-flex">
            <div class="p-2"><button [ngClass]="'menu-btn'" (click)="openSideBar()">|||</button></div>
            <div class="p-1"><img class="img-responsive common-left-margin" src="../../assets/images/keep-icon.png" alt="" height="40px"></div>
            <div class="p-2"><a class="navbar-brand text-white common-left-margin" href="#">Keep</a></div>
        </div>
        <div class="search-box">
            <img src="../../assets/images/search_icon.svg" class="img-responsive" alt="">
            <input type="text" class="header-search-input" placeholder="Search">
        </div>
        <div class="common-padding">
            <a class="common-padding" href=""><img src="../../assets/images/refresh_icon.svg" alt=""></a>
            <a class="common-padding" href=""><img src="../../assets/images/settings_white.svg" alt=""></a>
        </div>
      </nav>
</div>