.menu-btn{
    transform: rotate(90deg);
    background: none;
    border: none;
    color: white;
    font-size: larger;
    border-radius: 50%;
}

.common-left-margin{
    margin-left: 1%;
}

.search-box{
    background-color: #525355;
    border-radius: .5rem;
    padding: .7%;
    width: 50%;
    margin-left: 4rem;
}

.header-search-input{
    border:none;
    background-color: #525355;
    color: white;
    margin-left: .5rem;
    width: 90%;
}

.header-div{
    border-bottom: 1px solid #525355;
    margin-bottom: 10px;
}

input:focus{
    outline: none;
}