<div class="sidebar-nav">
    <div class="sidebar" [ngClass]="{'sidebar-open-full': openSideBarFlag}">
        <a href="">
            <div class="menu-item">
                <img class="p-2" src="../../assets/images/lightbulb.svg" alt="">
                <span class="menu-text">Notes</span>
            </div>
        </a>
        <a href="">
            <div class="menu-item active-menu">
                <img class="p-2" src="../../assets/images/trash_icon.svg" alt="">
                <span class="menu-text">Trash</span>
            </div>
        </a>
    </div>
</div>

